# Ignore everything
*

# Source & assets
!src/
!public/

# Package management
!package.json
!pnpm-lock.yaml
!pnpm-workspace.yaml

# Config
!astro.config.mjs
!tsconfig.json
!playwright.config.ts
!wrangler.jsonc

# Tests
!playwright/
!playwright/**
