---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLine from "../components/TimeLine.astro";
import { CV, type Cv } from "@data/experiances";

---
<BaseLayout
  class="space-y-8"
  title="CV"
  description="Hans askov's CV"
  theme="light"
  prefetchUrls={["/", "/projects"]}
  includeSidebar={true}
  download_button={{ title: "Download CV", url: "/hans-askov-cv.pdf" }}
  personalInfo = {{
        name: "Hans Askov",
        email: "hans@askov.dk",
        phone: "+45 24 96 51 87",
        location: "Odense C, 5000, Denmark"
    }}
  languages = {[
        {
            name: "Danish",
            rating: 4 // max of 4
        }, 
        {
            name: "English",
            rating: 3
        }
    ]},
  skills = {["Agile",  "Backend",  "C++",  "DevOps",  "Docker",  "Fullstack",  "Grafana",  "PostgreSQL", "Typescript"]},
  aboutMe = "My hobbies includes tinkering with homeservers and jogging along Odense River."
>

  <div class="space-y-4">
    <h1 class="text-lx lg:text-5xl font-semibold text-base-content/85">Software Engineer</h1>
    <p> {CV.intro} </p>
  </div>

  <div class="space-y-4">
    <h2 class="font-bold">Experience</h2>
    <TimeLine experiances={CV.experiances} />
  </div>

  <div class="space-y-4">
    <h2 class="font-bold">Education</h2>
    <TimeLine experiances={CV.educations} />
  </div>
</BaseLayout>
