---
import BaseLayout from "../layouts/BaseLayout.astro";
import NameIntro from "../components/NameIntro.astro";
import TimeLine from "../components/TimeLine.astro";
import { CV, type Cv } from "@data/experiances";

type Props = Cv

const {intro, educations, experiances} = Astro.props

---
<BaseLayout
  class="prose prose-sm md:prose-base space-y-8"
  title="CV"
  description="Hans askov's CV"
  theme="light"
  prefetchUrls={["/", "/projects"]}
  includeSidebar={true}
  download_button={{ title: "Download CV", url: "/hans-askov-cv.pdf" }}
  personalInfo = {{
        email: "hans@askov.dk",
        phone: "+45 24 96 51 87",
        location: "Odense C, 5000, Denmark"
    }}
  languages = {[
        {
            name: "Danish",
            rating: 4
        }, 
        {
            name: "English",
            rating: 3
        }
    ]},
  skills = {["Agile",  "Backend",  "C++",  "DevOps",  "Docker",  "Fullstack",  "Grafana",  "PostgreSQL", "Typescript"]},
  aboutMe = "My hobbies includes tinkering with homeservers and jogging along Odense River."
>

  <NameIntro />
 
  <p>
    {CV.intro}
  </p>

  <div class="space-y-4">
    <h2 class="font-bold">Experience</h2>
    <TimeLine experiances={CV.experiances} />

    <h2 class="font-bold">Education</h2>
    <TimeLine experiances={CV.educations} />
  </div>
</BaseLayout>
