---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <h1 class="text-5xl font-bold">Hans Askov</h1>
    <div class="text-2xl py-3 font-bold">
      Software Engineering Master Student
    </div>
    <div class="py-2">
      <text class="text-xl">
        Welcome! This is a personal website to introduce myself and to showcase
        my projects. If you would like to know more about me please see my CV
      </text>
    </div>
    <div class="mt-8 flex gap-8 justify-between md:justify-start">
      <a class="btn w-full md:w-40 shrink" href="/cv">CV</a>
      <a class="btn w-full md:w-40 shrink btn-outline" href="/projects">
        Projects</a
      >
    </div>
  </div>

  <h2 class="text-2xl w-full font-bold mb-2">About Me</h2>

  <p class="pb-4">
    My name is Hans Askov and i'm currently in my first semester of my masters,
    working towards a degree in Software Engineering. I'm passionate about
    Machine learning, fullstack web applications, large distributed systems and
    much more
  </p>

  <p class="pb-4">
    During my Bachelor thesis at Novo Nordisk, implementing a 6DoF pose
    estimation method for robotic bin picking. This experience exposed me to
    cutting-edge technology in computer vision and robotics, where precision is
    key.
  </p>

  <p class="pb-12">
    Besides machine learning, I also have a passion for full-stack web
    applications and have created side projects in React with Next and Svelte
    with SvelteKit. The aim of these projects are to establish a feature-driven
    environment, empowering developers to be confident when making changes
    between the frontend and backend. This confidence is ensured by implementing
    type-safety between the frontend and backend, as well as incorporating
    appropriate unit tests and end-to-end tests. The projects are then hosted in
    a serverless environment, releaving the burden of self hosting and allowing
    the developers to focus on new features.
  </p>

  <h2 class="text-3xl w-full font-bold mb-2">My latest projects {"</>"}</h2>

  <HorizontalCard
    title="Askov.dk"
    img="/askov.webp"
    desc="A small static website made for my parents. It's main use is showing pictures of our cats and a link to a personal wishlist. Check out the pictures at the bottom, they are so cute."
    url="https://askov.dk"
    target="_blank"
    badge="NEW"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Hjemmet.net"
    img="/hjemmet.webp"
    desc="Hjemmet is a website for you and your family to create and share wishlists between each other. Go take a look and go through the authentication flow, but keep in mind that it is still under development"
    url="https://hjemmet.net"
    badge="FULLSTACK"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="BlenderBin"
    img="/blenderbin.webp"
    desc="BlenderBin is an extention of BlenderProc made to easily create a synthetic datasets with many augmentations for Bin Picking. This was part of my Bachlor thesis which has been used by others to improve the state of the art."
    url="https://github.com/hansaskov/BlenderBin"
    badge="AI"
  />
</BaseLayout>
