---
const today = new Date();
const email = "hans@askov.dk";
const phone = "+45 24 96 51 87";
---

<footer class="footer footer-center py-8 px-4 mt-10">
  <div class="flex items-center gap-3 text-sm text-base-content/50">
    <span>Hans Askov</span>

    <span class="text-base-content/20 select-none">•</span>

    <span>{today.getFullYear()}</span>

    <span class="text-base-content/20 select-none">•</span>

    <a>
      {email}
    </a>
  </div>
</footer>
