<div class="space-y-1 not-prose" >
    <h1 class="text-3xl lg:text-5xl font-bold">Hans Askov</h1>
    <p class="text-lg lg:text-xl">Software Engineer</p>
    <p class="text-md lg:text-lg font-light">Odense C, Region of Southern Denmark, Denmark</p>
  </div>