---
const pathname = Astro.url.pathname;
---

<ul class="menu grow shrink menu-md overflow-y-auto w-full space-y-2">
    <li><a class:list={["pl-4 py-3 text-base", { "menu-active": pathname === "/" }]} href="/">Home</a></li>
    <li><a class:list={["pl-4 py-3 text-base", { "menu-active": pathname.startsWith("/projects") }]} href="/projects">Projects</a></li>
    <li><a class:list={["pl-4 py-3 text-base", { "menu-active": pathname.startsWith("/cv") }]} href="/cv">CV</a></li>
</ul>