---
const pathname = Astro.url.pathname;
const pages = [
    {
        url: "/",
        name: "Home",
    },
    {
        url: "/projects",
        name: "Projects",
    },
    {
        url: "/cv",
        name: "CV",
    },
];

---

<ul class="menu grow shrink menu-md overflow-y-auto w-full space-y-2">
    {
        pages.map(({ name, url }) => (
            <li>
                <a
                    class:list={[
                        "pl-4 py-3 text-base",
                        {
                            "bg-base-300":
                                url === "/"
                                    ? pathname === url
                                    : pathname.startsWith(url),
                        },
                    ]}
                    href={url}
                >
                    {name}
                </a>
            </li>
        ))
    }
</ul>
