---
import type { Education, Experiance } from '@data/experiances';
import TimeLineHeader from './TimeLineHeader.astro';
import TimeLineBody from './TimeLineBody.astro';

interface Props {
  experiances: (Experiance | Education)[]
}

const props = Astro.props;
---

<div class="space-y-8 not-prose">
      {
        props.experiances.map((experiance) => (
          <div class="space-y-2">
            <TimeLineHeader {...experiance} />
            {experiance.roles.map((role) => (
              <div class="flex gap-4 not-prose pl-4">
                <div class="hidden md:block ">
                  <span class="size-4 bg-base-content block rounded-full mt-1" />
                  <span class="bg-base-content h-full block w-0.5 translate-x-[7px]" />
                </div>
                <div>
                  <TimeLineBody {...role} />
                </div>
              </div>
            ))}
          </div>
        ))
      }
    </div>