---
interface props {
  title: string,
  subtitle: string,
  last?: boolean
}

const { title, subtitle, last = false } = Astro.props;
---

<div class="flex not-prose">
  <div class="">
    <span class="size-4 bg-primary block rounded-full mt-1"></span>
    <span class:list={[
      "bg-primary block w-0.5 translate-x-[7px]",
      {
        "h-[90%]": last === true,
        "h-full": last === false
      }
      ]}></span>
  </div>
  <div class="bd-grid px-5">
    <h3 class="font-semibold mb-1">{title}</h3>
    <span class="font-light text-sm">{subtitle}</span>
    <div class="my-2 text-pretty ">
      <slot />
    </div>
  </div>
</div>
