---
interface props {
  last?: boolean
}

const { last = false } = Astro.props;
---

<div class="flex not-prose">
  <div class="">
    <span class="size-4 bg-primary block rounded-full mt-1"></span>
    <span class:list={[
      "bg-primary block w-0.5 translate-x-[7px]",
      {
        "h-[90%]": last === true,
        "h-full": last === false
      }
      ]}></span>
  </div>
  <div class="px-5">
    <slot />
  </div>
</div>
